@primary: #009c85;

a {
  cursor: pointer;
  text-decoration: none;

  &:visited, &:active {
    color: inherit;
  }
}
* { font-family: 'Poppins', sans-serif }

.primary-bg { background-color: @primary }
.primary { color: @primary }